@import url("https://fonts.google.com/specimen/Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  background-color: hsl(0, 100%, 74%);
}

.content {
  display: flex;
  gap: 30px;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  background-color: white;
  width: 100%;
  max-height: 1440px;
}

.items1 {
  flex: 50%;
}
.item1 h1 {
  font-family: "Poppins";
  margin: 20px 0;
  font-weight: 700;
  color: white;
  margin-left: 70px;
  width: 80%;
}
.item1 p {
  font-family: "poppins";
  font-weight: 400;
  color: white;
  margin-left: 70px;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.items2 {
  flex: 50%;
  margin-top: 90px;
}

.heading {
  background-color: hsl(248, 32%, 49%);
  padding: 1px;
  border-radius: 5px;
  width: 77%;
  color: white;
  text-align: center;
}
.container {
  background-color: white;
  border-radius: 12px;
  padding: 1em;
  width: fit-content;
  margin-right: 100px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}
input:valid {
  background-image: url(icon-error.svg);
}
button:hover {
  cursor: pointer;
}
.button-1 {
  background-color: hsl(154, 59%, 51%);
  padding: 14px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  width: 100%;
  border: none;
}
.button-2 {
  text-align: center;
  color: hsl(246, 25%, 77%);
}
::placeholder {
  color: black;
}
.span-1 {
  color: red;
  font-weight: bold;
}
input:required:invalid {
  background-image: url(icon-error.svg);
    border-color: hsl(0, 100%, 74%);

}


@media (max-width: 1440px) {
  .content {
    background-image: url(bg-intro-desktop.png);
    flex-direction: row;
    background-color: hsl(0, 100%, 74%);
  }
}

@media (max-width: 375px) {
  .content {
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    flex-direction: column;
  }
}
