* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html {

    background-color: black;    

}

.main-1 {

    display: grid;

    grid-template-areas:

        'one one two'

        'three four four'

        'three five five';

     gap: 10px;

    padding: 5px;

    margin: 25px;

    text-align: center;

}

main div {

    padding: 2em;

    text-align: center;

}

.item1 {

    background-color: orange;

    grid-area: one;

}

.item2 {

    background-color: yellow;

    grid-area: two;

}

.item3 {

    background-color: green;

    grid-area: three;

}

.item4 {

    background-color: purple;

    grid-area: four;

}

.item5 {

    background-color: purple;

    grid-area: five;

}

.nav-link {

display: flex;

padding: 2% 6%;

justify-content: space-between;

align-items: center;

}

.nav-link a{

display: flex;

border-radius: 16px;

padding: 8px 12px;

position: relative;

font-family: "Lexend Deca";

color: white;

background-color: blue;

text-decoration: none;

font-size: 15px;

font-weight: 700;

} 

.footer-1{

  color:white;

  text-align: center;

}

.footer-1, a, p{

  text-decoration: none;

  font-size: 18px;

  font-weight: bold;

}
    

    

    
