* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    margin-top: 25vh;
}

.main-1 {
    display: grid;
    grid-template-areas:
        'one one two'
        'three four four'
        'three five five';
    height: 30vh;
    gap: 10px;
    padding: 5px;
    margin: 15px 15px;
    width: 100%;
    text-align: center background-color:blue;
}

main div {
    padding: 2em;
    text-align: center;

}

.item1 {
    background-color: orange;
    grid-area: one;
}

.item2 {
    background-color: yellow;
    grid-area: two;
}

.item3 {
    background-color: green;
    grid-area: three;

}

.item4 {
    background-color: purple;
    grid-area: four;

}

.item5 {
    background-color: purple;
    grid-area: five;
}

.nav-link a {
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-link {
    padding: 12px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    background-color: blue;
    width: 80px;
}
